.hero {
    background-image: url(../../images/hero/back-des@1x.jpg);
    padding-top: 170px;
    padding-bottom: 80px;

    & h1 {
        font-family: 'Montserrat Alternates';
        font-weight: 600;
        font-size: 60px;
        line-height: 1.08;
        color: var(--color-main-text);
        width: 60%;
        margin-bottom: 20px;
    }

    & h2 {
        font-family: 'Montserrat Alternates';
        font-weight: 500;
        font-size: 24px;
        line-height: 1.20;
        margin-bottom: 30px;
    }

    &__button {
        display: inline-block;
        margin-bottom: 30px;
    }
}

.social-list {
    display: flex;
    flex-direction: row;
    gap: 15px;

    &__icon {
        width: 16px;
        height: 16px;
    }

    &__link {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}





// @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
// screen and (min-resolution: 192dpi) and (max-width: 767px),
// screen and (min-resolution: 2dppx) and (max-width: 767px) {
//     .hero {
//         background-image: linear-gradient(rgba(47, 48, 58, 0.4),
//                 rgba(47, 48, 58, 0.4)),
//             url("../images/mob/hero-bg-mob@2x.jpg");
//     }
// }

// /* 
// 768px
// */
// @media screen and (min-width: 768px) {
//     .hero {
//         background-image: linear-gradient(rgba(47, 48, 58, 0.4),
//                 rgba(47, 48, 58, 0.4)),
//             url("../images/tab/hero-bg-tab.jpg");
//     }
// }

// /* 
// 2x
// 768px
// */
// @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
// screen and (min-resolution: 192dpi) and (min-width: 768px),
// screen and (min-resolution: 2dppx) and (min-width: 768px) {
//     .hero {
//         background-image: linear-gradient(rgba(47, 48, 58, 0.4),
//                 rgba(47, 48, 58, 0.4)),
//             url("../images/tab/hero-bg-tab@2x.jpg");
//     }
// }

// /* 
// 1200px
// */
// @media screen and (min-width: 1200px) {
//     .hero {
//         background-image: linear-gradient(rgba(47, 48, 58, 0.4),
//                 rgba(47, 48, 58, 0.4)), url("../images/des/hero-bg.jpg");
//         max-width: 1600px;
//         padding-top: 200px;
//         padding-bottom: 200px;

//         &__title {
//             font-size: 44px;
//             line-height: 1.36;
//             max-width: 696px;
//         }

//         &__button {
//             padding: 10px 32px;
//         }
//     }
// }

// /* 
// 2x
// 1200px
// */
// @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
// screen and (min-resolution: 192dpi) and (min-width: 1200px),
// screen and (min-resolution: 2dppx) and (min-width: 1200px) {
//     .hero {
//         background-image: linear-gradient(rgba(47, 48, 58, 0.4),
//                 rgba(47, 48, 58, 0.4)),
//             url("../images/des/hero-bg@2x.jpg");
//     }
// }